/* colors */

* {
  al:      #00000000;
  bg:      #f1f1f3ff;
  se:      #f1f1f3ff;
  fg:      #020202ff;
  ac:      #6f97ecff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
